In [1]:
import pandas as pd 
import numpy as np

In [4]:
behaviors = pd.read_csv('MIND_small/csv/behaviors_with_individual_counts.csv', index_col=0).drop(columns='Unnamed: 0')
news = pd.read_csv('MIND_small/csv/news.csv', index_col=0)

In [16]:
news.head()

,news_id,category,sub_category,title,abstract,url,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [7]:
behaviors.head()

,impression_id,user_id,time,history,impressions,lifestyle_history,health_history,news_history,sports_history,weather_history,...,travel_impression,foodanddrink_impression,tv_impression,finance_impression,movies_impression,video_impression,music_impression,kids_impression,middleeast_impression,northamerica_impression
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0,1,0,3,2,0,...,0,0,0,0,0,0,0,0,0,0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...,5,1,54,3,3,...,0,0,0,1,0,0,0,0,0,0
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...,5,0,2,4,1,...,0,0,0,0,0,0,0,0,0,0
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0,1,0,0,4,0,...,0,0,0,0,0,0,1,0,0,0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [14]:
user_preference_counts = behaviors.groupby('user_id')[behaviors.columns.to_list()[5:]].agg(sum)

C:\Users\nicho\AppData\Local\Temp\ipykernel_3108\1874892503.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  behaviors.groupby('user_id')[behaviors.columns.to_list()[5:]].agg(sum)

,lifestyle_history,health_history,news_history,sports_history,weather_history,entertainment_history,autos_history,travel_history,foodanddrink_history,tv_history,...,travel_impression,foodanddrink_impression,tv_impression,finance_impression,movies_impression,video_impression,music_impression,kids_impression,middleeast_impression,northamerica_impression
user_id,,,,,,,,,,,,,,,,,,,,,
U100,2,0,1,2,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
U1000,3,0,0,0,0,3,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
U10001,2,0,6,18,0,0,0,0,2,2,...,1,0,0,0,0,0,0,0,0,0
U10003,2,2,8,2,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U10008,0,1,11,1,3,2,0,1,1,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U9993,0,0,1,0,0,1,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U9995,56,36,16,4,0,0,0,72,44,12,...,4,0,0,0,0,0,0,0,0,0
U9996,9,0,0,0,0,3,0,0,3,0,...,0,0,0,0,0,1,0,0,0,0
U9997,4,0,0,0,0,0,0,0,18,2,...,0,7,0,0,0,0,0,0,0,0
U9999,0,0,14,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
pivot_table_result = news.pivot_table(columns='news_id', values=['category', 'sub_category', 'title', 'abstract', 'url', 'title_entities', 'abstract_entities'], aggfunc='first')
pivot_table_result

news_id,N10,N100,N1000,N10000,N10001,N10002,N10003,N10004,N10005,N10007,...,N9989,N999,N9990,N9991,N9992,N9993,N9994,N9997,N9998,N9999
abstract,It's all about the fartleks.,"WASHINGTON Somewhere over the eastern skies,...","I think we have a really good team, and a team...","The Day in Sports: Wednesday, October 30, 2019",A Vero Beach man was charged with battery afte...,Firefighters battled the latest windstorm in S...,Sometimes the best gifts are those you're leas...,Changes happening early in bye week for strugg...,The Tennessee Highway Patrol has identified th...,The Ridgewood Community Center didn't have com...,...,Is it better to invest in developing clean ene...,The good news: A phone can fit in your pocket ...,House Democrats announced the formal impeachme...,"In a matchup between two exciting young teams,...",This is a LOT.,None,The annual meeting of the Eastern Connecticut ...,Gifts for loved ones and holiday hosts can be ...,An Amber Alert issued for two children last se...,Didi Gregorius did not receive a qualifying of...
abstract_entities,[],"[{""Label"": ""ARMA 2"", ""Type"": ""W"", ""WikidataId""...",[],[],"[{""Label"": ""Vero Beach, Florida"", ""Type"": ""G"",...","[{""Label"": ""Sonoma County, California"", ""Type""...","[{""Label"": ""Sometimes (film)"", ""Type"": ""N"", ""W...","[{""Label"": ""Tampa Bay Buccaneers"", ""Type"": ""O""...","[{""Label"": ""Interstate 40"", ""Type"": ""S"", ""Wiki...","[{""Label"": ""Community centre"", ""Type"": ""C"", ""W...",...,"[{""Label"": ""Democratic Party (United States)"",...",[],"[{""Label"": ""Jake Tapper"", ""Type"": ""P"", ""Wikida...","[{""Label"": ""Trae Young"", ""Type"": ""P"", ""Wikidat...",[],[],"[{""Label"": ""Connecticut"", ""Type"": ""G"", ""Wikida...","[{""Label"": ""Costco"", ""Type"": ""O"", ""WikidataId""...","[{""Label"": ""Titusville, Florida"", ""Type"": ""G"",...","[{""Label"": ""Didi Gregorius"", ""Type"": ""P"", ""Wik..."
category,health,sports,sports,sports,news,weather,video,sports,news,news,...,finance,news,video,sports,foodanddrink,sports,news,lifestyle,news,sports
sub_category,weight-loss,baseball_mlb,more_sports,more_sports,newscrime,weathertopstories,viral,football_nfl,newsus,newsoffbeat,...,markets,newsscienceandtechnology,news,basketball_nba,newstrends,more_sports,newsus,shop-holidays,newsus,baseball_mlb
title,7 Running Workouts for Weight Loss,Astros finally get timely hitting to get back ...,"Sounders vs. Real Salt Lake: Highlights, stats...","The Day in Sports: Wednesday, October 30, 2019",Vero Beach man charged with battery in connect...,Firefighters Battle Latest Windstorm in Sonoma...,Parents capture boy's stunned reaction to beco...,Buccaneers release Bobo Wilson and Devante Bond,Texas man identified as driver that caused fat...,Ridgewood Community Center finally gets comput...,...,How should billionaires spend their money to f...,Motorola's Razr flip phone is back as a foldin...,Tapper goes after GOP contradictions on impeac...,Hawks' Young with filthy move on Rubio,"Pringles Reveals New Holiday Flavors, From Cra...",Game Preview: Suns (1-0) try to move on withou...,ECCD Celebrates Year In Review,30 Holiday Gift Bargains From Costco,"Father accused of kidnapping two children, the...",Report: Didi Gregorius Receiving Interest From...
title_entities,"[{""Label"": ""Exercise"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Houston Astros"", ""Type"": ""O"", ""Wik...","[{""Label"": ""Real Salt Lake"", ""Type"": ""O"", ""Wik...",[],"[{""Label"": ""Vero Beach, Florida"", ""Type"": ""G"",...","[{""Label"": ""Sonoma County, California"", ""Type""...",[],"[{""Label"": ""Tampa Bay Buccaneers"", ""Type"": ""O""...","[{""Label"": ""Interstate 40"", ""Type"": ""S"", ""Wiki...","[{""Label"": ""Community centre"", ""Type"": ""C"", ""W...",...,[],"[{""Label"": ""Motorola Razr"", ""Type"": ""J"", ""Wiki...","[{""Label"": ""Jake Tapper"", ""Type"": ""P"", ""Wikida...","[{""Label"": ""Trae Young"", ""Type"": ""P"", ""Wikidat...","[{""Label"": ""Pringles"", ""Type"": ""J"", ""WikidataI...","[{""Label"": ""Phoenix Suns"", ""Type"": ""O"", ""Wikid...",[],"[{""Label"": ""Costco"", ""Type"": ""O"", ""WikidataId""...","[{""Label"": ""Titusville, Florida"", ""Type"": ""G"",...","[{""Label"": ""Didi Gregorius"", ""Type"": ""P"", ""Wik..."
url,https://assets.msn.com/labs/mind/AADnDn5.html,https://assets.msn.com/labs/mind/AAJnuna.html,https://assets.msn.com/labs/mind/AAJiNTA.html,https://assets.msn.com/labs/mind/AAJCapA.html,https://assets.msn.com/labs/mind/AAJuElR.html,https://assets.msn.com/labs/mind/AAJv5M5.html,https://assets.msn.com/labs/mind/AAIoP4y.html,https://assets.msn.com/labs/mind/AAIPiUT.html,https://assets.msn.com/labs/mind/BBWuc0G.html,https://assets.msn.com/labs/mind/BBWL6LC.html,...,https://assets.msn.com/labs/mind/BBWE4pA.html,https://assets.msn.com/labs/mind/BBWJ6eg.html,https://assets.msn.com/labs/mind/AAJjGwZ.html,https://assets.msn.com/labs/mind/BBWMnFX.html,https://assets.msn.com/labs/mind/AAJTDOd.html,https://assets.msn.com/labs/mind/AAJmkgP.html,https://assets.msn.com/labs/mind/BBWByiz.html,https://assets.msn.com/labs/mind/BBQNI9t.html,https://assets.msn.com/labs/mind/BBWH4oI.html,https://assets.msn.com/labs/mind/BBWubxU.html

In [22]:
news.pivot_table(columns='news_id', index=[i for i in range(1,5001)], values=['category','sub_category',	'title','abstract',	'url', 'title_entities','abstract_entities'])

TypeError: agg function failed [how->mean,dtype->object]

In [25]:
# I think the trick for a user item matrix is to make a dictionary with all 50,000 articles, and features as keys, and then populate it with numpy arrays of all -1, then to change to a 1 or a 0 if a user interacted with it

# making the dictionary
news_data = {news_id : np.full(50000, -1) for news_id in news['news_id']}

def populate_news_data(behaviors_frame):
# now we need to iterate through every user looking at their history and such again! (yay)
    index = 0
    for history, impressions in zip(behaviors_frame['history'], behaviors_frame['impressions']):

        # If our history is not a NaN.
        if type(history) != float:

            # Split the history into news IDs
            for news_id in history.split():

                # Locate the article and access its category, then increment the metrics.
                
                category = copynews.loc[news_id]['category']
                category_popularity_history[category] += 1
                article_popularity_history[news_id] += 1
                

        # If our impression is not a NaN.
        if type(impressions) != float:

            # Access all impressions.
            for impression in impressions.split():

                # Clean up the impression so that it's easier to parse.
                impression_info = clean_impression(impression)

                # If the impression signifies a clickthrough increment the metrics.
                if impression_info['score'] == '1':
                    article_popularity_impression[impression_info['article_ID']] += 1
                    category = copynews.loc[impression_info['article_ID']]['category']
                    category_popularity_impression[category] += 1