In [1]:
import pandas as pd
import numpy as np
meep = pd.read_csv('MIND_large/80_20/train_chunk0.csv')
meep.head()

,Unnamed: 0,user_id,time,news_id,category,sub_category,title,abstract,interaction_type,score
0,0,U66319,1,N10721,entertainment,entertainment-celebrity,Mike Johnson asks out Keke Palmer after Demi L...,Mike Johnson tried to ask out Keke Palmer in a...,history,1
1,1,U66319,1,N128129,movies,movies-celebrity,Brie Larson Has the Best Reaction Ever After T...,The 'Captain Marvel' star was left speechless ...,history,1
2,2,U66319,1,N28406,news,newsworld,Accused dine-and-dashers in viral video at St....,Five young black men who posted a video of a m...,history,1
3,3,U66319,1,N118998,news,newsgoodnews,Trooper pulls over to save flag on highway,The trooper is being praised for stopping his ...,history,1
4,4,U66319,1,N38884,sports,mma,UFC champ Khabib Nurmagomedov seen training in...,Khabib Nurmagomedov doesn't mess around.,history,1

In [8]:
new_meep = meep.groupby('user_id')['time'].apply(np.median).reset_index()
new_meep

       user_id  time
0         U100   6.0
1       U10000   7.0
2      U100005   8.0
3      U100017   5.0
4      U100037   7.0
...        ...   ...
99442   U99973   4.0
99443   U99983   8.0
99444   U99989   7.0
99445   U99993   5.0
99446   U99998   8.0

[99447 rows x 2 columns]

In [3]:
from ExploratoryAnalysis.data_processing_modules import create_user_taste_profile

2024-03-03 01:06:28.022884: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-03 01:06:28.049854: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-03 01:06:28.049883: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-03 01:06:28.050652: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-03-03 01:06:28.055040: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-03 01:06:28.056080: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-03 01:06:29.012972: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [4]:
user_meep = create_user_taste_profile(meep)
user_meep

,user_id,autos,news,health,foodanddrink,lifestyle,entertainment,sports,tv,music,finance,video,weather,travel,movies,middleeast,kids,games
0,U100,4.0,10.0,6.0,6.0,11.0,2.0,6.0,1.0,2.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0
1,U10000,1.0,10.0,10.0,26.0,19.0,4.0,9.0,5.0,3.0,15.0,4.0,2.0,2.0,2.0,0.0,0.0,0.0
2,U100005,0.0,34.0,2.0,21.0,9.0,0.0,15.0,3.0,0.0,4.0,1.0,3.0,0.0,4.0,0.0,0.0,0.0
3,U100017,1.0,6.0,2.0,4.0,9.0,1.0,3.0,3.0,0.0,3.0,2.0,1.0,2.0,1.0,0.0,0.0,0.0
4,U100037,0.0,58.0,0.0,0.0,1.0,3.0,3.0,1.0,0.0,2.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99442,U99973,1.0,7.0,1.0,1.0,3.0,0.0,5.0,3.0,1.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
99443,U99983,0.0,8.0,2.0,2.0,6.0,2.0,4.0,4.0,1.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
99444,U99989,6.0,29.0,5.0,6.0,12.0,4.0,8.0,5.0,2.0,10.0,7.0,1.0,6.0,4.0,0.0,0.0,0.0
99445,U99993,8.0,36.0,9.0,13.0,26.0,5.0,13.0,3.0,4.0,14.0,4.0,1.0,9.0,8.0,0.0,0.0,0.0
99446,U99998,1.0,9.0,1.0,4.0,6.0,2.0,5.0,2.0,2.0,4.0,2.0,1.0,2.0,1.0,0.0,0.0,0.0

In [7]:
user_meep['median'] = new_meep['time']
user_meep

,user_id,autos,news,health,foodanddrink,lifestyle,entertainment,sports,tv,music,finance,video,weather,travel,movies,middleeast,kids,games,median
0,U100,4.0,10.0,6.0,6.0,11.0,2.0,6.0,1.0,2.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0
1,U10000,1.0,10.0,10.0,26.0,19.0,4.0,9.0,5.0,3.0,15.0,4.0,2.0,2.0,2.0,0.0,0.0,0.0,7.0
2,U100005,0.0,34.0,2.0,21.0,9.0,0.0,15.0,3.0,0.0,4.0,1.0,3.0,0.0,4.0,0.0,0.0,0.0,8.0
3,U100017,1.0,6.0,2.0,4.0,9.0,1.0,3.0,3.0,0.0,3.0,2.0,1.0,2.0,1.0,0.0,0.0,0.0,5.0
4,U100037,0.0,58.0,0.0,0.0,1.0,3.0,3.0,1.0,0.0,2.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99442,U99973,1.0,7.0,1.0,1.0,3.0,0.0,5.0,3.0,1.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,4.0
99443,U99983,0.0,8.0,2.0,2.0,6.0,2.0,4.0,4.0,1.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0
99444,U99989,6.0,29.0,5.0,6.0,12.0,4.0,8.0,5.0,2.0,10.0,7.0,1.0,6.0,4.0,0.0,0.0,0.0,7.0
99445,U99993,8.0,36.0,9.0,13.0,26.0,5.0,13.0,3.0,4.0,14.0,4.0,1.0,9.0,8.0,0.0,0.0,0.0,5.0
99446,U99998,1.0,9.0,1.0,4.0,6.0,2.0,5.0,2.0,2.0,4.0,2.0,1.0,2.0,1.0,0.0,0.0,0.0,8.0