In [1]:
import pandas as pd 
import numpy as np

In [4]:
behaviors = pd.read_csv('MIND_large/csv/behaviors.csv', index_col=0)
behaviors

,impression_id,user_id,time,history,impressions
0,1,U134050,11/15/2019 8:55:22 AM,N12246 N128820 N119226 N4065 N67770 N33446 N10...,N91737-0 N30206-0 N54368-0 N117802-0 N18190-0 ...
1,2,U254959,11/15/2019 11:42:35 AM,N34011 N9375 N67397 N7936 N118985 N109453 N103...,N119999-0 N24958-0 N104054-0 N33901-0 N9250-0 ...
2,3,U499841,11/15/2019 9:08:21 AM,N63858 N26834 N6379 N85484 N15229 N65119 N1047...,N18190-0 N89764-0 N91737-0 N54368-0 N49978-1 N...
3,4,U107107,11/15/2019 5:50:31 AM,N12959 N8085 N18389 N3758 N9740 N90543 N129790...,N122944-1 N18190-0 N55801-0 N59297-0 N128045-0...
4,5,U492344,11/15/2019 5:02:25 AM,N109183 N48453 N85005 N45706 N98923 N46069 N35...,N64785-0 N82503-0 N32993-0 N122944-0 N29160-0 ...
...,...,...,...,...,...
376466,376467,U199558,11/15/2019 8:12:35 AM,N90686 N73122 N37206 N12575 N96616 N114714,N122640-0 N29160-0 N54368-1 N18190-0
376467,376468,U356824,11/15/2019 6:10:05 AM,N31305 N7742 N45909 N13422 N116312 N110755 N62...,N122640-0 N18190-0 N55801-0 N69938-0 N12384-0 ...
376468,376469,U484114,11/15/2019 3:05:47 PM,N122359 N104081 N79583 N60911 N20131 N29446 N2...,N46555-0 N28863-0 N129416-0 N112536-0 N64957-0...
376469,376470,U719484,11/15/2019 3:30:41 PM,N51171 N115826 N52641 N454 N32534 N127923 N443...,N56784-0 N28863-0 N26553-0 N2110-0 N99846-0 N1...
376470,376471,U655194,11/15/2019 7:03:15 AM,N17862 N82746 N16614 N18966 N36243 N30299 N747...,N28962-0 N52388-0 N128045-0 N17804-0 N15424-0 ...

In [6]:
testing_df = behaviors.groupby(['user_id', 'history'])['impressions'].apply(list).reset_index()

In [9]:
testing_df.head()['impressions'].to_list()

[['N19162-0 N83491-0 N121138-0 N94999-0 N44453-0 N80770-0 N15438-0 N69938-1 N76254-0 N110073-0 N19834-0 N4331-0 N62235-0 N103830-0 N5521-0 N51163-0',
  'N55066-0 N130076-0 N18258-0 N80105-0 N57299-0 N61442-0 N21033-0 N91268-0 N44032-0 N50180-0 N52339-0 N114950-0 N44608-0 N91506-0 N12899-0 N27289-0 N100425-0 N121138-0 N14612-0 N18623-0 N63870-0 N123462-0 N45595-0 N56565-0 N93879-0 N44493-1 N86444-0 N126404-0 N116564-0 N121375-0 N73966-0 N121208-0 N71731-0 N113286-0 N8749-0 N43000-0 N127356-0 N7728-0 N40690-0 N23981-0 N8042-0 N109802-0 N89823-0 N21356-0 N111050-0 N79608-0 N20802-0 N85420-0 N58760-0 N104644-0 N48323-0 N87470-0 N80425-0 N123819-0',
  'N121138-0 N104644-1 N7728-0 N56565-0 N69938-0 N4331-0 N20802-0 N21356-0 N18623-0 N19834-0 N44453-0 N114950-0 N121375-0 N80770-0 N87470-0 N5521-0 N91506-0'],
 ['N122944-0 N55801-0 N104644-0 N82503-0 N29160-0 N54368-0 N128045-0 N69938-1 N59297-0 N18190-0 N80770-0',
  'N18468-1 N89764-0 N21018-0 N129416-1 N46641-0 N53018-0'],
 ['N122944-0 N96241-0 N40742-0 N15424-0 N54368-0 N128905-0 N12974-0 N3061-0 N48833-0 N64785-1 N46894-0 N35304-0 N104950-0 N69938-0 N18190-0 N30582-0 N72977-0 N30206-0 N37697-0 N18356-0'],
 ['N121267-0 N23452-0 N89764-0 N50384-0 N40742-0 N112536-0 N2110-0 N91307-0 N1257-0 N30206-0 N46555-0 N52388-0 N97272-0 N93879-0 N104970-0 N46641-0 N119999-0 N80425-0 N69938-0 N85420-0 N25973-0 N92905-0 N122775-0 N37254-0 N123209-0 N14719-0 N58760-0 N44493-0 N117802-0 N56602-0 N130076-0 N95862-1 N100425-0 N91737-0 N23721-0 N83491-0 N21018-0 N29160-0 N49307-0 N48833-0 N109802-0 N56590-0 N79671-0 N17038-0 N61442-0 N32694-0 N11405-0 N129416-0 N44294-0',
  'N35304-0 N46894-0 N122944-1 N12974-0 N29160-0 N69938-0 N30206-0 N58465-0 N18356-1 N122640-0 N18190-1 N123209-0 N54368-0 N47891-0',
  'N34044-1 N89764-0 N120089-0 N30206-0 N53018-0 N29160-0 N129416-0 N92905-1 N117802-0 N69938-0 N54368-0 N91737-0 N122944-0 N26703-0',
  'N54368-0 N18190-0 N25621-0 N55801-0 N29160-1 N122640-0 N46894-0',
  'N3623-1 N35304-0 N25621-0 N54368-0 N12384-0 N122944-0 N123209-0 N69938-0 N40742-0 N72977-0 N46894-0 N128045-0 N82573-0 N122640-0 N30582-0 N62800-0 N55801-0 N18190-0'],
 ['N121267-0 N46555-0 N49307-0 N30206-0 N100425-0 N117802-0 N56602-0 N52464-0 N44032-0 N39770-0 N90986-0 N100701-1 N89764-0 N91737-0 N91307-0 N21033-0 N125045-0 N99846-0 N126696-0 N40742-0 N2110-0 N46641-0 N130076-0 N44493-0 N86352-0 N91268-0 N54281-0 N123968-0 N112536-0 N119999-0 N97272-0 N92905-0 N44294-0 N59569-0 N21018-0 N104970-0 N111050-0 N129416-0 N47891-0 N17827-1',
  'N29160-0 N34044-0 N92905-0 N26703-0 N49978-0 N117802-1 N112536-0 N129416-0 N120089-0 N69938-0 N91737-0 N54368-0 N89764-0 N35304-0 N122944-0 N53018-0',
  'N39770-0 N125045-0 N28863-0 N100425-0 N47891-0 N97272-0 N107199-1 N56784-0 N123968-0 N111050-0 N17038-0 N19831-0 N99846-0 N64957-0 N119999-0 N21096-0 N46555-0 N26553-0 N126696-0 N123462-0 N96083-1 N2110-0 N92905-0 N40742-0 N129416-0 N44533-0 N21018-0',
  'N9471-0 N92199-0 N21356-0 N129416-0 N119999-0 N87236-0 N52388-0 N69675-0 N21018-0 N92905-0 N91737-0 N89764-0 N123209-0 N56602-0 N48833-0 N40742-0 N75841-0 N69938-1 N50384-0 N46555-0 N86352-0 N18258-0 N29160-0 N53018-1 N117802-0 N121267-0 N91307-0 N46641-0 N95862-0 N125917-0 N1257-0 N2110-0 N112536-0 N35398-0 N30206-0 N79671-0 N34044-0 N26703-0',
  'N42208-0 N34044-0 N122944-0 N40742-0 N129416-0 N54368-0 N85420-0 N49978-0 N125917-0 N35304-0 N100425-0 N29160-0 N120089-0 N92905-0 N48833-0 N30206-1 N26703-0 N123209-0 N69938-0',
  'N54368-0 N18190-1 N122640-0',
  'N97272-0 N91307-0 N58760-0 N90986-0 N2110-0 N17038-0 N46555-1 N100701-0 N91737-0 N126696-0 N17827-0 N21096-0 N91268-0 N89764-0 N46641-0 N21018-0 N86352-0 N129416-0 N100425-0 N119999-0 N104970-0 N44032-0 N123968-0 N92905-0 N99846-0 N64957-0 N111050-0 N40742-0 N54281-0 N39770-0 N47891-0 N125045-0']]

In [13]:
news = pd.read_csv('MIND_large/csv/news.csv', index_col=0)

In [14]:
len(news['news_id'].unique())

72023

In [15]:
len(behaviors['user_id'].unique())

255990

In [ ]:
# user_preference_counts = behaviors.groupby('user_id')[behaviors.columns.to_list()[5:]].agg(sum)

In [ ]:
behaviors = pd.read_csv('MIND_small/csv/behaviors_with_individual_counts.csv', index_col=0).drop(columns='Unnamed: 0')

In [ ]:
behaviors_grouped = behaviors.groupby(['user_id', 'history'])['impressions'].apply(list).reset_index()

In [ ]:
# I think the trick for a user item matrix is to make a dictionary with all 50,000 articles, and features as keys, and then populate it with numpy arrays of all -1, then to change to a 1 or a 0 if a user interacted with it

# making the dictionary
news_data = {news_id : np.full(255990, -1) for news_id in news['news_id']}

def populate_dictionaries(behaviors_frame):
    """
    Populates the news data dictionary with user preferences where each user_id corresponds to a row index and the columns correspond to news articles.
    """
    index = 0
    # Might just want to use the popularity counts that are already found in behaviors with popularity counts? that could be a lot better imho
    for history, impressions in zip(behaviors_frame['user_id'], behaviors_frame['history'], behaviors_frame['impressions']):

        if type(history) != float:
            for news_id in history.split():
                news_data[news_id][index] = 1

        if type(impressions) != float:    
            for impression_string in impressions:
                for impression in impression_string.split():
                    impression_info = dpm.clean_impression(impression)
                    if impression_info['score'] == '1':
                        news_data[impression_info['article_ID']] = 1
                    else:
                        news_data[impression_info['article_ID']] = 0
        index += 1

user_ids = behaviors['user_id'].unique()
populate_dictionaries(behaviors_grouped)
user_item_matrix = pd.DataFrame(data=news_data, index=user_ids)

In [ ]:
## Feature / side info matrix

feature_dict = {}
keys = []
for key in keys:
    feature_dict[key] = np.full(50000, -1)