In [1]:
import ExploratoryAnalysis.data_processing_modules as dpm
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
news = pd.read_csv('MIND_small/csv/news.csv')
behaviors = pd.read_csv('MIND_small/csv/behaviors.csv')

In [3]:
test_frame = dpm.decompose_interactions(1000, news, behaviors)
test_frame

,user_id,time,news_id,category,sub_category,title,abstract,interaction_type,score
0,U13740,11/11/2019 9:05:58 AM,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...","We'd like to solve the puzzle, Pat: Blair Davi...",history,1
1,U13740,11/11/2019 9:05:58 AM,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,The Yankees kept hope alive thanks to some imp...,history,1
2,U13740,11/11/2019 9:05:58 AM,N34694,tv,tvnews,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,history,1
3,U13740,11/11/2019 9:05:58 AM,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,Four American Airlines flight attendants were ...,history,1
4,U13740,11/11/2019 9:05:58 AM,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,"Parting is such sweet sorrow, say the Wolverines.",history,1
...,...,...,...,...,...,...,...,...,...
2365,U19722,11/13/2019 5:53:14 PM,N14029,lifestyle,lifestylebuzz,A master suite with an 'open-concept' bathroom...,People took to Twitter to share confusion abou...,impression,0
2366,U19722,11/13/2019 5:53:14 PM,N51194,sports,basketball_nba,"Gordon Hayward 'Heard, Felt' Hand Break In Col...",Gordon Hayward's broken hand happened so fast ...,impression,0
2367,U19722,11/13/2019 5:53:14 PM,N3431,news,newspolitics,Trump Jr's 'Triggered' debuts at No. 1 on NY T...,"Donald Trump Jr.'s first book ""Triggered: How ...",impression,0
2368,U19722,11/13/2019 5:53:14 PM,N37437,foodanddrink,quickandeasy,How to Make Cornbread Without a Recipe,"Cornbread, unlike most breads, is very forgiving.",impression,0
2369,U19722,11/13/2019 5:53:14 PM,N63106,news,newsus,Supreme Court Justices Couldn't Stop Interrupt...,The first interruptions came just minutes into...,impression,0

In [4]:
test_frame.dtypes

user_id             object
time                object
news_id             object
category            object
sub_category        object
title               object
abstract            object
interaction_type    object
score                int64
dtype: object

In [5]:
test_frame.rename(columns={'time':'time_'}, inplace=True)

In [6]:
test_frame

,user_id,time_,news_id,category,sub_category,title,abstract,interaction_type,score
0,U13740,11/11/2019 9:05:58 AM,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...","We'd like to solve the puzzle, Pat: Blair Davi...",history,1
1,U13740,11/11/2019 9:05:58 AM,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,The Yankees kept hope alive thanks to some imp...,history,1
2,U13740,11/11/2019 9:05:58 AM,N34694,tv,tvnews,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,history,1
3,U13740,11/11/2019 9:05:58 AM,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,Four American Airlines flight attendants were ...,history,1
4,U13740,11/11/2019 9:05:58 AM,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,"Parting is such sweet sorrow, say the Wolverines.",history,1
...,...,...,...,...,...,...,...,...,...
2365,U19722,11/13/2019 5:53:14 PM,N14029,lifestyle,lifestylebuzz,A master suite with an 'open-concept' bathroom...,People took to Twitter to share confusion abou...,impression,0
2366,U19722,11/13/2019 5:53:14 PM,N51194,sports,basketball_nba,"Gordon Hayward 'Heard, Felt' Hand Break In Col...",Gordon Hayward's broken hand happened so fast ...,impression,0
2367,U19722,11/13/2019 5:53:14 PM,N3431,news,newspolitics,Trump Jr's 'Triggered' debuts at No. 1 on NY T...,"Donald Trump Jr.'s first book ""Triggered: How ...",impression,0
2368,U19722,11/13/2019 5:53:14 PM,N37437,foodanddrink,quickandeasy,How to Make Cornbread Without a Recipe,"Cornbread, unlike most breads, is very forgiving.",impression,0
2369,U19722,11/13/2019 5:53:14 PM,N63106,news,newsus,Supreme Court Justices Couldn't Stop Interrupt...,The first interruptions came just minutes into...,impression,0

In [ ]:
def create_connection():
    """
    Creates a connection to the database by taking in a user password.
    """
    database_name = 'user_info'
    connection_user = 'admin'
    try:
        connection_password = input("Enter Password: ")
        connection_host = 'svc-57117697-8d22-448b-8b96-d3b2a46d0970-dml.aws-virginia-6.svc.singlestore.com'
        connection_port = '3306'
        connection_url = f"mysql+pymysql://{connection_user}:{connection_password}@{connection_host}:{connection_port}/{database_name}"
        db_connection = create_engine(connection_url)
        return db_connection
    except Exception as e:
        print(f"Exception {e} occured, try again.\n")
        return create_connection()


def push_to_DB(news : pd.DataFrame, behaviors : pd.DataFrame) -> None:
    """ 
    Pushes data to the SingleStore database for usage in modelling within docker containers and virtual machines.

    Args:
        news (pd.DataFrame) : The dataframe containing the data from the news csv.
        behaviors (pd.DataFrame) : The dataframe containing the data from the behaviors csv.

    Returns:
        None.
    """
    db_connection = create_connection()
    user_interaction_data = dpm.decompose_interactions(num_iterations=100000, news=news, behaviors=behaviors)
    user_interaction_data.to_sql('user_behaviors', if_exists='replace', con=db_connection, index=False)
    print("Push to Database Successful")