In [2]:
import pandas as pd 
import numpy as np

import umap.umap_ as umap

import matplotlib.pyplot as plt
import plotly.express as px
import sklearn.cluster as cluster

In [8]:
user = pd.read_csv("../MIND_large/csv/full_user_clusters.csv", index_col=0)
user.drop("cluster", axis=1, inplace=True)
user.head(2)

,user_id,news,health,finance,lifestyle,video,tv,entertainment,foodanddrink,autos,movies,music,travel,sports,weather,middleeast,kids,median
0,U100019,0.416667,0.083333,0.166667,0.250000,0.083333,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.250
1,U100061,0.363636,0.090909,0.090909,0.090909,0.000000,0.090909,0.090909,0.090909,0.090909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.625

In [ ]:
def plot_clustering(user, n_clusters):
    kmeans_labels = cluster.KMeans(n_clusters=n_clusters).fit_predict(user.iloc[:,1:])

    user_umap = umap.UMAP(
    n_neighbors=100,
    min_dist=0.1,
    n_components=2,
    n_epochs = 200,
    random_state=42
    ).fit_transform(user[user.columns.to_list()[1:]])
    
    plt.scatter(user_umap[:, 0], user_umap[:, 1], c=kmeans_labels, s=0.1, cmap='hsv');

In [ ]:
fig, ax = plt.subplots(1,3)