In [3]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [1]:
# Handling tensorflow datasets
import tensorflow as tf
import keras.api._v2.keras as keras

In [7]:
sample_data = pd.read_csv('../MIND_small/sample_tf_dataset.csv')
sample_data.head()
sample_data.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
sample_data.head()

  user_id                  time_  ... interaction_type score
0  U13740  11/11/2019 9:05:58 AM  ...          history     1
1  U13740  11/11/2019 9:05:58 AM  ...          history     1
2  U13740  11/11/2019 9:05:58 AM  ...          history     1
3  U13740  11/11/2019 9:05:58 AM  ...          history     1
4  U13740  11/11/2019 9:05:58 AM  ...          history     1

[5 rows x 9 columns]

In [16]:
# dict(sample_data)
tf_data_obj = tf.data.Dataset.from_tensor_slices(dict(sample_data))
tf_data_obj

<_TensorSliceDataset element_spec={'user_id': TensorSpec(shape=(), dtype=tf.string, name=None), 'time_': TensorSpec(shape=(), dtype=tf.string, name=None), 'news_id': TensorSpec(shape=(), dtype=tf.string, name=None), 'category': TensorSpec(shape=(), dtype=tf.string, name=None), 'sub_category': TensorSpec(shape=(), dtype=tf.string, name=None), 'title': TensorSpec(shape=(), dtype=tf.string, name=None), 'abstract': TensorSpec(shape=(), dtype=tf.string, name=None), 'interaction_type': TensorSpec(shape=(), dtype=tf.string, name=None), 'score': TensorSpec(shape=(), dtype=tf.int64, name=None)}>

In [26]:
AUTOTUNE = tf.data.AUTOTUNE
tf_data_obj = tf.data.Dataset.from_tensor_slices(dict(sample_data))
train_ds = tf_data_obj.cache().prefetch(buffer_size=AUTOTUNE)
text_ds = train_ds.map(lambda x: x['abstract'])

tf.Tensor(b'We\'d like to solve the puzzle, Pat: Blair Davis\' loveless marriage? On Monday, "Wheel of Fortune" welcomed as a new contestant trucking business owner Blair Davis, who offered a biting introduction for himself. When host Pat Sajak asked the man from Cardiff, California, about his family, Davis plunged into one of the darkest personal summaries the show has likely ever heard. "I\'ve been trapped in a loveless marriage for the last 12 years to an...', shape=(), dtype=string)

2024-02-14 19:58:21.509935: W tensorflow/core/kernels/data/cache_dataset_ops.cc:858] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

In [35]:
def handle_text():
    """ 
    Creates embeddings for titles and abstracts for use within clustering.
    """

    vectorize_layer = keras.layers.TextVectorization(standardize='lower_and_strip_punctuation', max_tokens=10000, output_mode='int', output_sequence_length=100)
    vectorize_layer.adapt(text_ds)
    return vectorize_layer

vectorize_layer = handle_text()

In [36]:
model = keras.Sequential([
    vectorize_layer,
    keras.layers.Embedding(input_dim=10000, output_dim=2)
])

In [40]:
model.compile(loss=z    )

In [41]:
model.fit(text_ds)

ValueError: in user code:

    File "/Users/nick/miniforge3/envs/recSysEnv/lib/python3.9/site-packages/keras/src/engine/training.py", line 1401, in train_function  *
        return step_function(self, iterator)
    File "/Users/nick/miniforge3/envs/recSysEnv/lib/python3.9/site-packages/keras/src/engine/training.py", line 1384, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/nick/miniforge3/envs/recSysEnv/lib/python3.9/site-packages/keras/src/engine/training.py", line 1373, in run_step  **
        outputs = model.train_step(data)
    File "/Users/nick/miniforge3/envs/recSysEnv/lib/python3.9/site-packages/keras/src/engine/training.py", line 1152, in train_step
        self._validate_target_and_loss(y, loss)
    File "/Users/nick/miniforge3/envs/recSysEnv/lib/python3.9/site-packages/keras/src/engine/training.py", line 1116, in _validate_target_and_loss
        raise ValueError(

    ValueError: No loss found. You may have forgotten to provide a `loss` argument in the `compile()` method.

In [ ]:
texts_to_vectorize = ["This is an example sentence", "Another example"]

# Convert texts to embeddings
embeddings = embedding_model.predict(texts_to_vectorize)

In [ ]:
def create_column_embeddings(data : pd.DataFrame, feature_name : str, embedding_dimension : int) -> keras.Sequential:
    """ 
    Creates an embedding model for a feature name.

    Args:
        data (pd.DataFrame) : A dataframe containing the dataset.
        feature_name (str) : A column that an embedding model will be created for in order to generate embeddings used in clustering.
        embedding_dimension (str) : An embedding dimension for the generated embeddings used for clustering.
    
    Returns:
        embedding_model (keras.Sequential) : A keras sequential model that can be used to create embeddings for a column.
    """

    unique_categories = data[feature_name].nunique()

    ## WIll use two separate things depending on if the feature is title or abstract

In [3]:
df = pd.read_csv("sample_tf_dataset.csv", index_col='user_id')

In [5]:
df

,Unnamed: 0,time_,news_id,category,sub_category,title,abstract,interaction_type,score
user_id,,,,,,,,,
U13740,0,11/11/2019 9:05:58 AM,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...","We'd like to solve the puzzle, Pat: Blair Davi...",history,1
U13740,1,11/11/2019 9:05:58 AM,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,The Yankees kept hope alive thanks to some imp...,history,1
U13740,2,11/11/2019 9:05:58 AM,N34694,tv,tvnews,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,history,1
U13740,3,11/11/2019 9:05:58 AM,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,Four American Airlines flight attendants were ...,history,1
U13740,4,11/11/2019 9:05:58 AM,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,"Parting is such sweet sorrow, say the Wolverines.",history,1
...,...,...,...,...,...,...,...,...,...
U19722,2365,11/13/2019 5:53:14 PM,N14029,lifestyle,lifestylebuzz,A master suite with an 'open-concept' bathroom...,People took to Twitter to share confusion abou...,impression,0
U19722,2366,11/13/2019 5:53:14 PM,N51194,sports,basketball_nba,"Gordon Hayward 'Heard, Felt' Hand Break In Col...",Gordon Hayward's broken hand happened so fast ...,impression,0
U19722,2367,11/13/2019 5:53:14 PM,N3431,news,newspolitics,Trump Jr's 'Triggered' debuts at No. 1 on NY T...,"Donald Trump Jr.'s first book ""Triggered: How ...",impression,0
U19722,2368,11/13/2019 5:53:14 PM,N37437,foodanddrink,quickandeasy,How to Make Cornbread Without a Recipe,"Cornbread, unlike most breads, is very forgiving.",impression,0
U19722,2369,11/13/2019 5:53:14 PM,N63106,news,newsus,Supreme Court Justices Couldn't Stop Interrupt...,The first interruptions came just minutes into...,impression,0

In [20]:
history = df[df["score"]==1]
history

,Unnamed: 0,time_,news_id,category,sub_category,title,abstract,interaction_type,score
user_id,,,,,,,,,
U13740,0,11/11/2019 9:05:58 AM,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...","We'd like to solve the puzzle, Pat: Blair Davi...",history,1
U13740,1,11/11/2019 9:05:58 AM,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,The Yankees kept hope alive thanks to some imp...,history,1
U13740,2,11/11/2019 9:05:58 AM,N34694,tv,tvnews,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,history,1
U13740,3,11/11/2019 9:05:58 AM,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,Four American Airlines flight attendants were ...,history,1
U13740,4,11/11/2019 9:05:58 AM,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,"Parting is such sweet sorrow, say the Wolverines.",history,1
...,...,...,...,...,...,...,...,...,...
U19722,2292,11/13/2019 5:53:14 PM,N24150,weather,weathertopstories,Brush fire starts after vehicle goes over High...,NaN,history,1
U19722,2293,11/13/2019 5:53:14 PM,N6915,foodanddrink,recipes,This Copycat Cracker Barrel Hashbrown Casserol...,If you're craving a slice of Cracker Barrel ha...,history,1
U19722,2294,11/13/2019 5:53:14 PM,N20575,tv,tv-celebrity,Ian Ziering's Wife Erin Ludwig Files for Divor...,Ian Ziering's Wife Erin Ludwig Files for Divorce,history,1
U19722,2295,11/13/2019 5:53:14 PM,N6767,news,factcheck,Bogus Warren Quote Ignites Immigration Anger,Immigration comments by Sen. Elizabeth Warren ...,history,1
U19722,2296,11/13/2019 5:53:14 PM,N20602,autos,autosenthusiasts,"Someone Just Paid $51,360 For This Perfect 198...",NaN,history,1

In [27]:
user_prof = history.groupby("user_id")['category'].apply(list)
user_prof

user_id
U10045    [news, foodanddrink, sports, tv, lifestyle, au...
U11306    [news, finance, lifestyle, news, lifestyle, ne...
U13740    [tv, sports, tv, news, sports, lifestyle, movi...
U17841    [lifestyle, health, sports, foodanddrink, food...
U19722    [finance, news, news, news, health, foodanddri...
U19739    [sports, news, news, news, news, sports, lifes...
U29155    [music, sports, music, lifestyle, sports, movi...
U34670    [tv, sports, tv, finance, finance, sports, lif...
U38627                          [tv, movies, music, tv, tv]
U46596                     [sports, sports, sports, sports]
U47654    [finance, travel, news, tv, health, lifestyle,...
U53231    [news, news, travel, news, travel, finance, ne...
U63162    [foodanddrink, news, lifestyle, health, foodan...
U70879    [finance, finance, finance, foodanddrink, food...
U73700    [lifestyle, lifestyle, news, sports, tv, weath...
U79199    [news, news, news, tv, news, news, news, tv, v...
U80798    [sports, news, news, news, news, foodanddrink,...
U8125                      [autos, travel, weather, health]
U8312     [foodanddrink, health, weather, foodanddrink, ...
U8355     [news, autos, news, sports, news, sports, musi...
U89744    [sports, sports, sports, sports, sports, sport...
U91836    [news, news, news, finance, travel, news, news...
U92486    [sports, sports, news, news, movies, tv, sport...
Name: category, dtype: object

In [30]:
for cat in df.category.unique():
    user_prof.map(count())

array(['tv', 'sports', 'news', 'lifestyle', 'movies', 'finance', 'travel',
       'video', 'weather', 'foodanddrink', 'music', 'health', 'autos',
       'entertainment'], dtype=object)