In [2]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv("sample_tf_dataset.csv", index_col='user_id')

In [5]:
df

,Unnamed: 0,time_,news_id,category,sub_category,title,abstract,interaction_type,score
user_id,,,,,,,,,
U13740,0,11/11/2019 9:05:58 AM,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...","We'd like to solve the puzzle, Pat: Blair Davi...",history,1
U13740,1,11/11/2019 9:05:58 AM,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,The Yankees kept hope alive thanks to some imp...,history,1
U13740,2,11/11/2019 9:05:58 AM,N34694,tv,tvnews,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,history,1
U13740,3,11/11/2019 9:05:58 AM,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,Four American Airlines flight attendants were ...,history,1
U13740,4,11/11/2019 9:05:58 AM,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,"Parting is such sweet sorrow, say the Wolverines.",history,1
...,...,...,...,...,...,...,...,...,...
U19722,2365,11/13/2019 5:53:14 PM,N14029,lifestyle,lifestylebuzz,A master suite with an 'open-concept' bathroom...,People took to Twitter to share confusion abou...,impression,0
U19722,2366,11/13/2019 5:53:14 PM,N51194,sports,basketball_nba,"Gordon Hayward 'Heard, Felt' Hand Break In Col...",Gordon Hayward's broken hand happened so fast ...,impression,0
U19722,2367,11/13/2019 5:53:14 PM,N3431,news,newspolitics,Trump Jr's 'Triggered' debuts at No. 1 on NY T...,"Donald Trump Jr.'s first book ""Triggered: How ...",impression,0
U19722,2368,11/13/2019 5:53:14 PM,N37437,foodanddrink,quickandeasy,How to Make Cornbread Without a Recipe,"Cornbread, unlike most breads, is very forgiving.",impression,0
U19722,2369,11/13/2019 5:53:14 PM,N63106,news,newsus,Supreme Court Justices Couldn't Stop Interrupt...,The first interruptions came just minutes into...,impression,0

In [20]:
history = df[df["score"]==1]
history

,Unnamed: 0,time_,news_id,category,sub_category,title,abstract,interaction_type,score
user_id,,,,,,,,,
U13740,0,11/11/2019 9:05:58 AM,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...","We'd like to solve the puzzle, Pat: Blair Davi...",history,1
U13740,1,11/11/2019 9:05:58 AM,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,The Yankees kept hope alive thanks to some imp...,history,1
U13740,2,11/11/2019 9:05:58 AM,N34694,tv,tvnews,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,history,1
U13740,3,11/11/2019 9:05:58 AM,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,Four American Airlines flight attendants were ...,history,1
U13740,4,11/11/2019 9:05:58 AM,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,"Parting is such sweet sorrow, say the Wolverines.",history,1
...,...,...,...,...,...,...,...,...,...
U19722,2292,11/13/2019 5:53:14 PM,N24150,weather,weathertopstories,Brush fire starts after vehicle goes over High...,NaN,history,1
U19722,2293,11/13/2019 5:53:14 PM,N6915,foodanddrink,recipes,This Copycat Cracker Barrel Hashbrown Casserol...,If you're craving a slice of Cracker Barrel ha...,history,1
U19722,2294,11/13/2019 5:53:14 PM,N20575,tv,tv-celebrity,Ian Ziering's Wife Erin Ludwig Files for Divor...,Ian Ziering's Wife Erin Ludwig Files for Divorce,history,1
U19722,2295,11/13/2019 5:53:14 PM,N6767,news,factcheck,Bogus Warren Quote Ignites Immigration Anger,Immigration comments by Sen. Elizabeth Warren ...,history,1
U19722,2296,11/13/2019 5:53:14 PM,N20602,autos,autosenthusiasts,"Someone Just Paid $51,360 For This Perfect 198...",NaN,history,1

In [27]:
user_prof = history.groupby("user_id")['category'].apply(list)
user_prof

user_id
U10045    [news, foodanddrink, sports, tv, lifestyle, au...
U11306    [news, finance, lifestyle, news, lifestyle, ne...
U13740    [tv, sports, tv, news, sports, lifestyle, movi...
U17841    [lifestyle, health, sports, foodanddrink, food...
U19722    [finance, news, news, news, health, foodanddri...
U19739    [sports, news, news, news, news, sports, lifes...
U29155    [music, sports, music, lifestyle, sports, movi...
U34670    [tv, sports, tv, finance, finance, sports, lif...
U38627                          [tv, movies, music, tv, tv]
U46596                     [sports, sports, sports, sports]
U47654    [finance, travel, news, tv, health, lifestyle,...
U53231    [news, news, travel, news, travel, finance, ne...
U63162    [foodanddrink, news, lifestyle, health, foodan...
U70879    [finance, finance, finance, foodanddrink, food...
U73700    [lifestyle, lifestyle, news, sports, tv, weath...
U79199    [news, news, news, tv, news, news, news, tv, v...
U80798    [sports, news, news, news, news, foodanddrink,...
U8125                      [autos, travel, weather, health]
U8312     [foodanddrink, health, weather, foodanddrink, ...
U8355     [news, autos, news, sports, news, sports, musi...
U89744    [sports, sports, sports, sports, sports, sport...
U91836    [news, news, news, finance, travel, news, news...
U92486    [sports, sports, news, news, movies, tv, sport...
Name: category, dtype: object

In [30]:
for cat in df.category.unique():
    user_prof.map(count())

array(['tv', 'sports', 'news', 'lifestyle', 'movies', 'finance', 'travel',
       'video', 'weather', 'foodanddrink', 'music', 'health', 'autos',
       'entertainment'], dtype=object)